body {
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: #000;
}

h2, .h2 {
  font-size: 1.2rem;
}

.pagination {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.page-item {
  margin-bottom: 5px;
}

.page-link {
  color: #c48f45;
  cursor: pointer;
}

.page-link:hover {
  color: #c48f45;
}

.page-link.active {
  border-color: #c48f45;
  background-color: #c48f45;
  color: #fff;
}

.product-card {
  display: block;
  padding: 10px;
  position: relative;
}

.product-card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-card:hover::after {
  opacity: 0.2;
}

.product-image {
  max-width: 100%;
  margin-bottom: 10px;
}

.product-title {
  color: var(--bs-secondary-text-emphasis);
}

.product-price {
  color: var(--bs-secondary-color);
}