body {
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

h2,
.h2 {
  font-size: 1.2rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.nav-btn {
  background-color: transparent;
  border: 2px solid #c48f45;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 10px;
  color: #c48f45;
  transition: background-color 0.3s, color 0.3s;
}

.nav-btn:hover {
  background-color: #c48f45;
  color: #fff;
}

.products-filters {
  padding: 0 10px 15px;
}

.products-categories {
  border: 1px solid #c48f45;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  color: #c48f45;
}

.product-container .nav-buttons {
  margin: 0 -10px;
}

.pagination {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.page-item {
  margin-bottom: 5px;
}

.page-link {
  color: #c48f45;
  cursor: pointer;
}

.page-link:hover {
  color: #c48f45;
}

.page-link.active {
  border-color: #c48f45;
  background-color: #c48f45;
  color: #fff;
}

.disabled > .page-link {
  color: #c48f45;
  opacity: 0.6;
}

.product-container .col {
  margin-bottom: 20px;
}

.product-card {
  display: block;
  padding: 10px;
  position: relative;
}

.product-card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-card:hover::after {
  opacity: 0.2;
}

.product-image-container {
  height: 250px;
  overflow: hidden;
}

.product-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  color: var(--bs-secondary-text-emphasis);
}

.product-price {
  color: var(--bs-secondary-color);
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 2;
  opacity: 0.75;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2rem;
  height: 2rem;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
  }
  .carousel-item img {
    height: 560px;
    object-fit: cover;
  }
}
